<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="http://vip.cnailin.com/static/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
        <link href="http://vip.cnailin.com/static/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
        <link href="http://vip.cnailin.com/static/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
        <link href="http://vip.cnailin.com/static/hplus/css/animate.min.css" rel="stylesheet">
        <link href="http://vip.cnailin.com/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
        <script src="http://vip.cnailin.com/static/hplus/js/jquery.min.js?v=2.1.4"></script>
        <script src="http://vip.cnailin.com/static/hplus/js/bootstrap.min.js?v=3.3.6"></script>
        <script src="http://vip.cnailin.com/static/hplus/js/hplus.min.js?v=4.1.0"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-sm-6">

            </div>
        </div>
    </body>
</html>