<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>爱邻CMS首页</title>
<link rel="shortcut icon" href="favicon.ico"> 
<link href="__STATIC__/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="__STATIC__/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="__STATIC__/hplus/css/animate.min.css" rel="stylesheet">
<link href="__STATIC__/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">爱邻CMS系统完善中…
                <br>非常感谢您的关注和支持…
                <br>…………
                <h4 class="text-danger">后台采用ThinkPHP5 + MySQL开发（H+ UI）</h4>
            </blockquote>

            <hr>
        </div>
        
        <div class="col-sm-3">
            <h2>爱邻同仁</h2>
            <small>移动设备访问请扫描以下二维码：</small>
            <br>
            <br>
            <img src="__STATIC__/hplus/img/qr_code.jpg" width="100%" style="max-width:264px;">
            <br>
        </div>
        
        <div class="col-sm-5">
            <h2>基于H+ 后台主题UI框架开发</h2>
            <p>H+是一个完全响应式，基于Bootstrap3.3.6最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术，她提供了诸多的强大的可以重新组合的UI组件，并集成了最新的jQuery版本(v2.1.4)，当然，也集成了很多功能强大，用途广泛的jQuery插件，她可以用于所有的Web应用程序，如<b>网站管理后台</b>，<b>网站会员中心</b>，<b>CMS</b>，<b>CRM</b>，<b>OA</b>等等，当然，您也可以对她进行深度定制，以做出更强系统。</p>
            <p><b>当前H+版本：</b>v4.1.0</p>
            <br>
        </div>
        <div class="col-sm-4">
            <h4>H+具有以下特点：</h4>
            <ol>
                <li>完全响应式布局（支持电脑、平板、手机等所有主流设备）</li>
                <li>基于最新版本的Bootstrap 3.3.6</li>
                <li>提供3套不同风格的皮肤</li>
                <li>支持多种布局方式</li>
                <li>使用最流行的的扁平化设计</li>
                <li>提供了诸多的UI组件</li>
                <li>集成多款国内优秀插件，诚意奉献</li>
                <li>提供盒型、全宽、响应式视图模式</li>
                <li>采用HTML5 & CSS3</li>
                <li>拥有良好的代码结构</li>
                <li>更多……</li>
            </ol>
        </div>

    </div>
<script src="__STATIC__/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/hplus/js/bootstrap.min.js?v=3.3.6"></script>

</body>
</html>
