<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{$username}会员密码找回-爱邻餐饮</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="__STATIC__/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="__STATIC__/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="__STATIC__/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="__STATIC__/hplus/css/animate.min.css" rel="stylesheet">
<link href="__STATIC__/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
<script src="__STATIC__/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/hplus/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__STATIC__/hplus/js/plugins/layer/layer.min.js"></script>
<style>
.px {
	height:32px;
	width:220px;
	margin-bottom:16px;
}
</style>
</head>
<body>
<div class="row">
	<div class="col-sm-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title"><h5>会员交易密码查询</h5></div>
			<div class="ibox-content">
				<form method="post" action="">
				<div class="input-group">		
					<input class="form-control" type="text" name="cardno" placeholder="输入会员卡号" />
					<span class="input-group-btn"><input class="btn btn-primary" type="submit" value="查询" /></span>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function (){
		$('form[method=post]').submit( function () {
			if($('input[name=cardno]').val() == '') {
				layer.open({
					title: '错误',
					icon: 2,
					content: '会员卡号不能为空！',
					time: 2000
				});
				return false;
			} else  {
				return true;
			}
		});
	});
</script>
<!--
代金券核销功能
-->
<div style="display:none;margin: 0px;padding: 0px;border: 1px dashed #529be6;right: 10px;bottom: 10px;position: absolute;width:340px;">
		<div style="background: #4197e0;border: 1px solid #eee;margin: 0px;"><h3 id="coupon_title" style="margin: 0px;padding: 10px;text-align: center;cursor:pointer;color:#fff;">代金券核销</h3></div>
		<div style="display:none;"><iframe src="http://vip.cnailin.com/index/Coupon/coupon" style="border: none;height: 330px; width: 340px;"></iframe></div>
</div>
	
</body>
</html>
