<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<link rel="shortcut icon" href="favicon.ico">
<link href="__STATIC__/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="__STATIC__/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="__STATIC__/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="__STATIC__/hplus/css/animate.min.css" rel="stylesheet">
<link href="__STATIC__/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
<script src="__STATIC__/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/hplus/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__STATIC__/hplus/js/plugins/layer/layer.min.js"></script>
<style>

table {border-collapse:collapse;border:1px dashed #aaa;border-spacing:10px 50px;margin-top:10px;}
table tr th,table tr td {padding:10px;border:1px dashed #aaa;}
table tr td {width:202px;font-size:12px;}
#dhBtn {display:none;}

</style>
<script src="__STATIC__/index/js/vip_replace.js?v=20170710_0"></script>
</head>
<body>
<div class="row">
	<div class="col-sm-3">
	<div class="ibox float-e-margins">
		<div class="ibox-title"><h5>好先生旧卡换卡</h5></div>
		<div class="ibox-content">
			<div class="input-group">
				<input class="form-control" id="cardno" name="code" type="text" placeholder="请输入卡号" value="" />
				<span class="input-group-btn"><button class="btn btn-w-m btn-info" id="queryBtn" type="button">查询</button></span>
			</div>
			<table class="table table-bordered">
				<tbody>
					<tr><th>卡号:</th><td style="font-size:14px;"></td></tr>
					<tr><th>余额:</th><td style="font-size:14px;"></td></tr>
					<tr><th>状态：</th><td></td></tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
</div>
</body>
</html>
